# Using SQL with Spark

In [1]:
import warnings

warnings.filterwarnings('ignore')

## Start the local spark server

In [2]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

23/03/02 17:03:01 WARN Utils: Your hostname, ROG-STRIX resolves to a loopback address: 127.0.1.1; using 172.27.115.120 instead (on interface eth0)
23/03/02 17:03:01 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/02 17:03:03 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

## Load the datasets

In [3]:
df_green = spark.read.parquet('data/pq/green/*/*')
df_yellow = spark.read.parquet('data/pq/yellow/*/*')

## Examine the column names

In [5]:
df_green.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- lpep_pickup_datetime: timestamp (nullable = true)
 |-- lpep_dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- trip_type: integer (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [7]:
df_yellow.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

## Complare the column names

In [8]:
df_green.columns

['VendorID',
 'lpep_pickup_datetime',
 'lpep_dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [9]:
df_yellow.columns

['VendorID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge']

## Get a list of the common features

In [10]:
set(df_green.columns) & set(df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

## Rename the datetime fields

You will be able to see that the pickup and dropoff features are not there. That's because they use different names. Let's fix that.

In [11]:
df_green = df_green \
    .withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')

In [12]:
df_yellow = df_yellow \
    .withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime')

In [13]:
set(df_green.columns) & set(df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'dropoff_datetime',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'pickup_datetime',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

## A better way to extract common features

This is better, but the order of the features is not preserved. Let's do this a different way.

In [14]:
yellow_columns = set(df_yellow.columns)
common_colums = [col for col in df_green.columns if col in yellow_columns]

In [16]:
common_colums

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge']

## Select the common columns with Spark

In [18]:
from pyspark.sql import functions as F

In [19]:
df_green_sel = df_green \
    .select(common_colums) \
    .withColumn('service_type', F.lit('green'))

In [20]:
df_yellow_sel = df_yellow \
    .select(common_colums) \
    .withColumn('service_type', F.lit('yellow'))

## Combine both dataframes

In [21]:
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [40]:
df_trips_data.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge',
 'service_type']

Let's count the number of records for each service type.

In [22]:
df_trips_data.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

## Register the dataframe as a table in Spark

Now let's do the same with SQL.

In [23]:
df_trips_data.registerTempTable('trips_data')

In [25]:
spark.sql("""
SELECT
    service_type,
    count(1) as count
FROM
    trips_data
GROUP BY 
    service_type
""").show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [26]:
df_result = spark.sql("""
SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance
FROM
    trips_data
GROUP BY
    revenue_zone, revenue_month, service_type
""")

In [27]:
df_result.show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_montly_passenger_count|avg_montly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|         250|2020-01-01 00:00:00|       green|  19288.010000000057|              1266.75|                  171.5|         47.56999999999999|           978.4800000000006|                   226.20000000000286|           21984.35999999992|                                 0.0|         1.355072463768116|       5.275630153121319|
|          12|2020-01-01 00:00:00|       green|              161.01|                  5.5|                    1.0|                       0.0|                       12.24|                                  1.2|                      180.95|                                null|                      null|      0.7150000000000007|
|         148|2020-01-01 00:00:00|       green|  1506.7899999999995|                 83.5|                    3.5|                       0.0|          48.959999999999994|                   14.400000000000013|          1657.1499999999999|                                 0.0|                       1.0|       7.221875000000004|
|         188|2020-02-01 00:00:00|       green|   45876.02000000015|               4048.5|                  480.0|         512.0100000000001|           550.7200000000003|                    588.6000000000125|          52174.299999999865|                                66.0|        1.1980874316939891|       3.839839243498823|
|           7|2020-03-01 00:00:00|       green|            76390.66|              2712.25|                 3488.5|         6102.550000000007|           882.6300000000006|                    2203.499999999849|            93256.0400000026|                             1443.75|         1.460755197284684|       2.296466063958979|
|         128|2020-02-01 00:00:00|       green|              2242.7|               114.75|                   34.5|         78.99000000000001|           70.11999999999999|                   28.500000000000036|                     2598.11|                               13.75|        1.0151515151515151|      5.0764077669902905|
|         165|2020-01-01 00:00:00|       green|  24802.129999999997|               1549.0|                  189.5|        101.14999999999999|           495.9500000000003|                   268.80000000000445|           27427.27999999994|                                11.0|        1.1891891891891893|       4.462666025024065|
|          88|2020-01-01 00:00:00|       green|   4146.879999999997|               223.75|                   16.0|                       0.0|           273.0900000000001|                    30.30000000000005|           4690.020000000002|                                 0.0|                       1.0|      11.439108910891088|
|         216|2020-02-01 00:00:00|       green|  19758.420000000024|               1245.0|                  110.0|                    102.96|           424.2500000000002|                   195.30000000000047|          21843.379999999946|                                 5.5|        1.1793893129770991|       6.703884785819805|
|          64|2020-01-01 00:00:00|       green|   4218.469999999996|               273.25|                   20.0|                      3.26|                      128.52|                    41.69999999999996|          4687.1500000000015|                                 0.0|        1.4583333333333333|       6.679932885906041|
|          48|2020-01-01 00:00:00|       green|   3266.299999999999|                220.0|                   19.0|                       0.0|          128.00000000000003|                   32.700000000000045|          3666.0000000000005|                                 0.0|                       1.0|        7.99761467889908|
|         113|2020-01-01 00:00:00|       green|  1049.9099999999999|                 78.0|                    3.0|                       0.0|                       36.72|                   10.800000000000004|                     1178.43|                                 0.0|                       2.0|      7.1308333333333325|
|         168|2019-12-01 00:00:00|       green|                20.0|                  0.5|                    0.5|                       0.0|                         0.0|                                  0.3|                        21.3|                                 0.0|                       1.0|                    6.54|
|          92|2020-02-01 00:00:00|       green|   58603.95999999998|              2375.25|                 1217.0|                   2973.05|           796.6300000000005|                    921.2999999999765|           67048.79000000113|                              151.25|        1.1366245694603903|       4.383409018228323|
|          39|2020-01-01 00:00:00|       green|   60305.34999999993|               3876.0|                  491.0|                     29.63|          1069.9199999999998|                    561.0000000000063|           66334.85000000038|                                 0.0|        1.2745098039215685|       6.203130280124494|
|         160|2020-01-01 00:00:00|       green|   7639.549999999997|                521.0|                   69.5|                      48.4|           227.1900000000001|                    92.69999999999948|           8610.840000000002|                                8.25|        1.2783505154639174|       3.944526627218936|
|         203|2020-01-01 00:00:00|       green|  14776.810000000023|                686.0|                   78.0|                      3.06|           372.6000000000002|                   113.99999999999928|          16030.469999999974|                                 0.0|        1.3255813953488371|      10.036540284360186|
|         146|2020-02-01 00:00:00|       green|   20001.77000000001|               1072.0|                  667.0|        1261.6500000000005|           258.5400000000001|                   445.20000000000806|           24015.25999999974|                               346.5|        1.2557965594614808|      26.118964143426233|
|         194|2020-02-01 00:00:00|       green|               884.0|                63.25|                    4.5|                       9.7|          153.00000000000006|                    8.699999999999998|          1125.8999999999999|                                 5.5|                       1.0|                   8.297|
|          37|2020-02-01 00:00:00|       green|   23375.71000000005|              1982.75|                  229.0|         428.9499999999999|           527.5100000000003|                    284.1000000000033|          26942.419999999955|                              104.25|        1.2318059299191375|       4.494921104536491|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
only showing top 20 rows

In [28]:
df_result.coalesce(1).write.parquet('data/report/revenue/', mode='overwrite')